@tailwind base;
@tailwind components;
@tailwind utilities;

.info div{
    margin: 10px;
}

.CardIA{
    background-color: #101010;
    width: 310px;
}

.prinCar{
    height: 85vh;
    border-bottom: solid 3px rgb(59, 59, 59);
    border-top: solid 3px rgb(59, 59, 59);
    
}

.laB{
    height: 85vh;
    
    border-left: solid 3px rgb(59, 59, 59);
}